h1 {
    color: pink;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

h2 {
    font-style: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

  .container {
    position: relative;
    left: 250px;
  }

  .second-container {
    position: relative;
    left: 100px;
    top: 18px;
    color: gray;
  }

  .third-container {
    position: relative;
    left: 500px; bottom: 316px;
    color: lightgreen;
  }

  #sisennys {
    left: 10px;
  }