h1 {
    color: pink;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

  .container {
    position: relative;
    left: 250px;
  }

  .second-container {
    position: relative;
    left: 100px;
    color: gray;
  }

  .third-container {
    position: relative;
    left: 500px;
    bottom: 500px;
    color: lightgreen;
  }